#container{
    display: flex;
    align-items: center;
    flex-direction: column;

    font-family: 'Righteous', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../../public/assets/images/bgDeveloper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}