#gameHeader{
    margin: 30px;
    width: 100%;
    text-align: center;
    background-image: linear-gradient(to right, hsla(183, 100%, 45%, 0.3), hsla(183, 100%, 45%, 0.0));
    color: #01143F;
    font-size: 50px;
    font-weight: bolder;
}
