
@media screen and (max-width: 500px) {
    .card{
        width: 80px;
        height: 80px;
    }
    #gameHeader{
        font-size: 30px;
    }
    #container{
        height: 100vh;
    }
}

@media screen and (max-width: 400px) {
    .card{
        width: 65px;
        height: 65px;
    }
    #gameHeader{
        font-size: 20px;
    }
    #container{
        justify-content: space-evenly;
    }
}

@media screen and (max-width: 325px) {
    .card{
        width: 60px;
        height: 60px;
    }
}